.jumbo {
  padding: 50px;
  background: #f6f6f6;
}

.jumbo:hover {
  background-color: #f3f3f3;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}
